export TS_AUTHKEY=tskey-auth-goesHereSeeTheReadMeForWhereToGetThis
export TS_HOSTNAME=ts-cf-dns
export CF_API_TOKEN=someReallyLongCloudFlareTokenGoes here
export CF_DOMAIN=example.com
export TS_EXCLUDE_TAGS=tag:enduser
export CF_SUBDOMAIN=es
